.App {
  text-align: center;
}

.active { 
  position: absolute;
  left: 200px;
  top: 100px;
  z-index: -1;
  animation: mymove 3s;
  animation-fill-mode: forwards;
}

.spinner_class{
  z-index: 3000;
  margin-top: 250px;
  margin-right: 78px;
}


@keyframes mymove {
  from {top: 0px;}
  to {top: 100px;}
}